.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page06-07 p {
  margin: 0px;
}

.left-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 36rem;
  flex-grow: 1;
  background-color: var(--white);
  justify-content: space-between;
}

.page-main-content-top,
.page-main-content-left,
.right-main-content-bottom {
  background-color: var(--white);
}

.left-page .page-header {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--white);
}

.page-header {
  color: var(--magenta-1);
  text-align: left;
  padding: 12px 20px 0;
  word-break: break-word;
  margin-bottom: 8px;
}

.page-sub-header {
  color: var(--magenta)
}

.main-header {
  margin: 0;
  font-weight: normal;
}

.page-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 36rem;
  flex-grow: 1;
  background-color: var(--white);
  justify-content: space-between;
}

.right-page-bg {
  display: flex;
  flex-direction: column;
  background-color: var(--strong-pink);
}

.left-page .bottom-section {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px 8px;
  margin: 0 0;
  word-break: break-word;
}

.left-page .bottom-section-content {
  width: 100%;
}

.top-section-content {
  width: 50%;
  min-width: 20.25rem;
  flex-grow: 1;
  line-height: 1.5;
}

.top-section-content p {
  padding: 0.5rem 0.5rem;

}

.top-section-image {
  text-align: center;
}

.header-image-cover {
  padding-bottom: 20px;
  margin-right: 96px;
}

.page-banner {
  background: var(--top-yellow);
  clip-path: polygon(100% 0, 97.5% 50%, 0 50%, 0 0);

  width: 100%;
  height: 5rem;
}

.img-page06-act1 {
  width: 80%;
  padding: 0.5rem 0;
  /* height: 570px; */
}

.img-page07-main {
  width: 100%;
}

.img-page07-main-1 {
  max-width: 100%;
}

.img-page07-main {
  display: block;
}

.text-box-content {
  color: #292524;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

.outer-number {
  color: var(--light-grey);
  position: relative;
}

.number-1 {
  left: -5px;
}

.number-2 {
  left: -10px;
}

.styled-first-letter {
  float: left;
  line-height: 2.2rem;
  color: var(--light-green);
}

.bottom-content {
  background-color: var(--white);

}

.bottom-content1 {
  background-color: var(--white);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 24px;
}

.bottom-content1 .left {
  grid-row: 1 /span 1;
  grid-column: 1 /span 2;

}

.aside-text-box {
  /* display: inline-block;
  
  min-width:9.25rem;
  flex-grow: 1; */
  background-color: var(--mild-yellow);
  height: fit-content;
  padding: 8px;
  width:75%;
  grid-row: 1 /span 2;
  grid-column: 3 /span 1;

}

.text-box-left {
  grid-row: 2 /span 1;
  grid-column: 1 /span 2;

}

/* .bottom-content .left{
  padding-bottom: 1rem;
} */
.img-page06-main {
  width: 100%;
  margin-top: 30px;
  display: block;
}

.discussion-fieldset {
  border: 2px solid var(--pink);
  background-color: var(--white);
  /* position: relative; */
}

.discussion-legend {
  background-color: var(--pink);
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  padding: 2px 8px;
  text-align: center;
}

.discussion-content {
  margin-bottom: 8px !important;
}

.no-margin-image {
  margin: 0;
}

figure {
  margin: 0;
}

.img-page06-main-1 {
  width: 100%;
}

.img-page06-topbar {
  width: 7rem;
  position: relative;
  top: -25px;
}

.page-main-content-left {
  position: relative;
}

.bottom-text-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chapter-index {
  background-color: var(--top-yellow);
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  color: var(--black);
  padding: 3rem 1rem 0.5rem 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -2.72rem;
  z-index: 1;
}

.chapter-index2 {
  color: var(--black);
  padding: 3rem 4rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 1;
}

.svg-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 4px;
}

.mouse-icon {
  width: 2rem;
  height: 2rem;
}

.top-mouse {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 8px;
  position: relative;
  top: 35px;
  left: 30px;
}

.avatar-mouse {
  display: flex;
  flex-direction: column;
  grid-gap: 0.1rem;
}

.avatar-double {
  width: 1.25rem;
  height: 1.25rem;
  /* margin-left: 0.5rem; */
}

.selfCenterAlign {
  align-self: center;
}

.abs-mouse {
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.pencil-people {
  height: 1.25rem;
}

.list-style-none {
  list-style-type: none;
}

.box-content {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
}

.box-content .heading {
  color: var(--dark-blue-1)
}

.box-top-ul {
  padding-left: 1rem;
  margin-top: 1rem;
}

.box-top-ul li::marker {
  font-weight: bold;
}

.page-right .box-top-ul,
.left-page .left-question.box-top-ul {
  padding-left: 4.5rem;
}

.left-page .left-question.box-top-ul {
  padding-left: 3.5rem;
}

.practice.box-top-ul li::marker {
  color: var(--blue-background);
}

.box-list-serial-num {
  vertical-align: top;
  color: var(--grey);
}

.text-box {
  min-width: 21.5rem;
  flex-grow: 1;
  width: 65%;
}

.text-box-content {
  color: #292524;
}

.culture-box {
  background-color: var(--lighten-blue);
  min-width: 11.5rem;
  width: 35%;
  flex-grow: 1;
  line-height: 1.5;
  height: fit-content;
}

.culture-box p {
  padding: 0.2rem 0.5rem;
}

.culture-box-content p {
  background-color: var(--skyblue-1);
  clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
  color: var(--white);
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  width: fit-content;
}

.culture-box-content span {
  background-color: black;
  padding: 0.1rem;
  margin-right: 16px;
  vertical-align: middle;
}

.page-main-content-topar {
  background-color: var(--white);
}

.page-main-content-top {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 16px;
  grid-gap: 1rem;
  left: -18px;
}

.page-main-content-top .border-text {
  border: 2px solid var(--pink);
  padding: 2px 8px;
  border-radius: 6px;
}

.image-text {
  display: flex;
}

.page-lesson {
  position: absolute;
  max-width: fit-content;
  margin: 0 auto;
  top: unset;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-lesson p {
  margin: 1rem 0;
}

.img-banner {
  height: 2.12rem;
  width: 20%;
}

.reaction-img {
  width: 25%;
}

.page-main-content-right {
  flex-grow: 1;
  background-color: var(--mild-pink-1);
  /* margin: 44px 56px 0px 28px; */
  margin: 0px 0px 30px 64px;
}

.img-container {
  padding: 32px 32px 0;
  display: flex;
  justify-content: center;
}


.page-right .bottom-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0 16px 16px;
  word-break: break-word;

}

.top-image-box {
  min-width: 12.5rem;
  width: 40%;
  flex-grow: 1;
  align-self: center;
}

.bottom-image-box {
  min-width: 15rem;
  width: 35%;
  flex-grow: 1;

}

.page-right .text-box-top {
  min-width: 19rem;
  width: 57%;
  flex-grow: 1;
  align-self: flex-start;
}

.page-right .text-box-bottom {
  min-width: 18.5rem;
  width: 50%;
  flex-grow: 1;
}

.fullWidthGridElement {
  grid-column: 1/-1;
}

.left-page .questionBox {
  left: -18px;
}

.questionBox .mouse-icon {
  position: relative;
  top: 5px;
}

.questionBox {
  display: flex;
  align-items: baseline;
  grid-gap: 4px;
  margin-bottom: 0 !important;
  position: relative;
}

.aside-box {
  position: relative;
  top: -40px;
  right: -60px;
  width: 100%;
  height: fit-content;
}

.aside-text {
  width: 190px;
}

.page06-aside-content .box-top-ul {
  background-color: var(--white);
  margin: 0px;
  padding: 5px;
}

.text-content {
  display: inline-block;
  background-color: var(--white);
  padding: 1px 5px;
  margin-bottom: 0.5rem !important;
  margin-top: 0;
  line-height: 1;
  text-align: start;
}
.academic{
  width:min-content;
}
.box-bottom {
  background-color: var(--white);
  margin-left: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: fit-content;
  margin-top: 1rem;
}

.box-bottom .text-content {
  padding: 8px;
}

.glossary-title-box-parent {
  background-color: var(--black);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  height: fit-content;
  padding: 2px;
}

.glossary-title-box {
  background-color: var(--white);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  height: fit-content;
  padding: 0px 12px 2px 4px;
  color: var(--black);
}

.highlight {
  background-color: var(--lemon-yellow);
}

.highlight-1 {
  background-color: var(--yellow-highlight);
}

.text-indent {
  text-indent: 1rem;
}

.shifted-text {
  margin-left: 32px;
}

.page06-aside-content ul {
  padding: 8px;
}

.page06-aside-content .box-list-content {
  width: 100%
}

.box-list-content {
  margin-bottom: 4px;
}

.check-in-box {
  border: 13px solid;
  border-image: url(../assets/checkIn_box.png) 36 350;
  border-left-width: 48px;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  margin-top: 1rem;
  min-width: fit-content;
}

.box-heading {
  color: var(--white);
  position: relative;
  background-color: var(--pink);
}

.check-in-box p {
  margin: 8px 0px;
}

.check-in-box li {
  margin: 8px 0px;
}

.check-in-box ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: var(--white);
}

.check-in-box li {
  background-color: var(--white);
}



.round-icon {
  display: flex;
  position: relative;
  left: -28px;
  top: 16px;
  width: 10px;
  height: 10px;
  padding: 5px;
  background: var(--blue-background);
  border-radius: 57%;
  color: var(--white);
  justify-content: center;
  align-items: center;
}

.left-page .round-icon {
  left: -6px !important;
  top: 9px !important;

}

.header-container p {
  padding: 0px 10px;
}

.header-container {
  margin-bottom: 24px;
}

.box-top-ol {
  margin: 0;
  padding: 0;
  list-style: none !important;
  width: 95%;
}

.box-top-ol li {
  display: flex;
  counter-increment: step-counter;
}

.box-top-ol li p {
  line-height: 1.4;
}

.box-top-ol li:before {
  content: counter(step-counter)'';
  margin-right: 5px;
  font-family: "MontserratRegular";
}

.box-list-content .border-left {
  float: left;
  border-left: 2px solid #cccccc;
  height: 40px;
  margin-top: 0px;

  /* Center the image vertically */
  display: flex;
  align-items: center;
}

.aside-top {
  margin-left: 1rem;
}



@media only screen and (min-width: 1153px) {}

@media only screen and (max-width: 1152px) {
  .page-right {
    width: 100%;
    min-width: unset;
    margin-top: 24px;
  }
  
  .aside-text-box {
   
    width: 85%;
  }

  .left-page {
    width: 100%;
    min-width: unset;
  }

  .parent-container {
    flex-direction: column;
  }

  .bottom-section {
    align-items: center;
    margin-left: 0px;
    grid-gap: 1rem;
  }

  .img-page11-main {
    margin-top: 2rem;
    max-width: 100%;
  }

  .check-in-box {
    margin-top: 0px;
  }

  .img-container {
    padding: 0px;
  }

  .img-page06-main-1 {
    width: 100%;
    left: 61px;
  }

  .mouse-icon {
    width: 2rem;
    height: 2rem;
  }

  /* .questionBox {
    left: -15px !important;
  } */
  .box-list-content {
    width: 100%;
  }

  .reaction-img {
    left: -20px;
  }

  .chapter-index2 {
    left: 8rem;
  }

  .box-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
  }

  .round-icon {
    padding: 8px;
  }

  .page-banner {
    width: 100%;
  }

  .avatar-double {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0rem;
  }

  .svg-icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  .mouse-icon {
    width: 2rem;
    height: 2rem;
  }

  .aside-box {
    position: unset;
    width: 12rem;
  }

  .page-main-content-right {
    margin: 25px 0px 1.8rem 2rem;
  }

  .img-page07-main {
    position: unset;
    width: 100%;
  }

  .page-right .bottom-section {
    width: 98%;
  }

  .box-bottom {
    margin-right: 8px;
  }

  .abs-mouse {
    top: 2rem;
  }

  .page-main-content-top {
    left: 0
  }

  .left-page .questionBox {
    left: -8px;
  }

}

@media only screen and (max-width: 576px) {
  .page-lesson {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 2rem;
    justify-content: start;
  }

  .img-page08-act1 {
    height: unset;
  }

  .culture-box {
    width: 100%;
    min-width: unset;
  }

  .top-section-content {
    width: 100%;
    min-width: unset;

  }

  .top-mouse {
    top: 25px;
  }

  .chapter-index {
    top: 2rem;
    left: 0;
    padding: 1rem 1rem 0.5rem;
  }

  .chapter-index2 {
    left: 8rem;
    padding: 3rem 24px 0.5rem;

  }

  .page-main-content {
    margin-top: -20px;
  }

  .img-banner {
    height: 2.625rem;
  }

  .aside-box {
    top: 0px;
    right: 0px;
    width: 100%;
    ;

  }

  .bottom-content1 {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    line-height: 1.5;
  }

  .bottom-content1 .left,
  .aside-text-box,
  .text-box-left {
    grid-row: unset;
    grid-column: unset;

  }

  .img-page06-act1 {
    width: 17rem;
    max-width: 100%;
  }

  .img-page07-main {
    width: 20rem;
    max-width: 100%;
  }

  .text-box {
    min-width: unset;
    width: 100%;
  }


  .page-main-content-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-main-content-right {
    margin: 25px 15px 10px 15px;
  }

  .bottom-text-top {
    display: block;
  }


  .box-content {
    width: 100px;
  }

  .img-page06-topbar {
    width: 32%
  }

  .img-page06-topbar {
    width: 7rem;
    top: -25px;
  }

  .img-page06-main {
    margin: auto !important;
    width: 60%;
  }

  .img-page06-main-1 {
    left: 10px;
  }

  .box-list-content {
    width: 100%;
  }

  .reaction-img {
    left: -45px;
  }

  .bottom-section {
    padding-right: 16px;
    flex-direction: column;
  }

  .bottom-heading-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-image-box {
    min-width: unset !important;
    width: unset !important;
  }

  .bottom-image-box {
    min-width: unset !important;
    width: unset !important;
  }

  .page-right .text-box-top {
    min-width: unset !important;
    width: unset !important;
  }

  .page-right .text-box-bottom {
    min-width: unset !important;
    width: unset !important;
  }

  .box-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .page-banner {
    width: auto;
  }

  .img-page07-main-1 {
    top: 0;
    left: -10px;
    max-width: 100%;
    width: 22rem;
  }

  .avatar-double {
    width: 1.25rem;
    height: 1.25rem;
  }

  .page-right .bottom-section {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .left-page .bottom-section {
    grid-template-columns: 1fr;
  }

  .text-box-empty {
    display: none;
  }

  .abs-mouse {
    top: 1.5rem;
  }
}