body {
  margin: 0;
  line-height: 1.5rem;
}
p {
  margin: 0;
}
figure {
  margin: 0;
  padding: 0;
  position: relative;
}

.page-left {
  width: 50%;
  /* border: 1px solid black; */
  background-image: linear-gradient(to top, var(--background-left-light-start), var(--background-left-light-mid), var(--background-left-light-end)),  url('../assets/img-page138-background-001.jpg');
  background-position: bottom;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-width: 36rem;
}
.page-right {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  min-width: 36rem;
}

.parent-box {
  display: flex;
  flex-wrap: wrap;
}
.container-left { 
  border: 5px double var(--border-orange);
  margin: 32px 0 0 32px;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-right: 48px;
  background: var(--white);
  height: 100%;
}
.container-right {
  margin-right: 32px;
  z-index: 1;
  margin-top: 5rem;
  /* margin-top: 135px; */
}
.right-page-background {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.background-img-1-cover {
  background: linear-gradient(to bottom, transparent, var(--white-2-decimal-alpha) , var(--white) ), url('../assets/img-page139-background-001.jpg');
  /* background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)); */
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}
.background-img-2-cover {
  background: linear-gradient(to bottom, var(--white), var(--white-3-decimal-alpha), var(--white-3-decimal-alpha),transparent), url('../assets/img-page139-background-002.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}
.background-img-1 {
  width: 100%;
  visibility: hidden;
}
.background-img-2 {
  width: 100%;
  visibility: hidden;
}
/* .content-left-top{
  
} */
.content-left-bottom{
  display: table;
  width: 100%;
  margin-top: 8px;
  position: relative;
  left: -37px;
}
.content-right-top{
  position: relative;
  right: -37px;
  margin-left: 27px;
  background: transparent;
}
.content-right-bottom{
  margin-top: 16px;
  border: 5px double var(--border-orange);
  border-bottom-right-radius: 12px;
  border-left: none;
  border-top: none;
  background: linear-gradient(to bottom, transparent, var(--white),var(--white));
}
.bg-yellow-text{
  background-color: var(--yellow-highlight);
}
.d-flex{
  display: flex;
}
.fit-con{
  width: fit-content;
}
.aside-right-cover{
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1.2rem;
  padding-left: 20px;
  margin-top: 20px;
}
.aside-2{
  float: right;
  max-width: 12.5rem;
  /* width: 80%; */
  /* grid-row: 1;
  grid-column: 2; */
}
.aside-3{
  display: inline-block;
  /* grid-row: 1;
  grid-column: 1; */
  align-self: end;
  /* word-break: break-all; */
}

.glossary-box {
  border: 1px solid var(--dark-blue);
  display: flex;
  /* font-size: 0.8rem;/ */
  line-height: 1.2rem;
}
.glossary-title-parent {
  background-color: var(--dark-blue);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  height: fit-content;
  padding: 0px 1px 1px 0px;
  width: fit-content;
}
.glossary-title {
  color: var(--dark-blue);
  background-color: var(--light-blue-background);
  text-transform: uppercase;
  padding: 0 10px 0 4px;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  height: fit-content;
  box-sizing: border-box;
  /* word-break: normal; */
}
.left-dl{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-column-gap: 8px;
  width: 100%;
  margin: 4px;
}
.right-dl{
  margin: 4px;
}
dd{
  margin-left: 10px;
}
.checkin-box{
  border: 1px solid var(--light-pink);
  /* font-size: 0.8rem; */
  line-height: 1.2rem;
  position: relative;
}
.check-icon {
  width: 2.125rem;
  position: absolute;
  top: -0.4rem;
  left: -1rem;
  z-index: 1;
}
.checkin-mouse-img {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 8px;
}
.abs-pos {
  position: absolute;
  top: 16px;
  left: -24px;
}
.box-top {
  color: var(--white);
  display: flex;
  align-items: center;
}
.box-heading {
  background-color: var(--pink);
  padding: 0.1rem 1rem;
  margin: 0px;
  display: flex;
  height: 1.5rem;
  align-self: flex-start;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.float-right {
  float: right;
  width: 15rem;
  max-width: 100%;
}
.float-left {
  float: left;
  width: 15rem;
  max-width: 100%;
}
.right-ol{
  margin: 4px 4px 4px 16px;
  padding-left: 1rem;
}
img{
  width: 100%;
}
.fig-1{
  margin: 0 0.5rem 0 16px;
}
.fig-2{
  margin: 0 24px 0 0;
}
.fig-3{
  margin: 0 0 0 8px;
}
.image-1{
  box-sizing: border-box;
  border: 4px solid var(--light-blue-border);
  border-top: none;
  border-radius: 0 0 12px 12px;
}
.image-2{
  box-sizing: border-box;
  border: 4px solid var(--light-green-border);
  border-left: none;
  border-radius: 0 12px 12px 0;
}
.image-3{
  box-sizing: border-box;
  border: 4px solid var(--yellow-border);
  border-right: none;
  border-radius: 12px;
}
.image-desc{
  background-color: var(--yellow-description);
  border-radius: 12px;
  padding: 8px;
  box-sizing: border-box;
  /* font-size: 0.8rem; */
  line-height: 1.2rem;
}
.desc-1 {
  position: relative;
  bottom: 68px;
  left: 8px;
  width: 80%;
  margin-bottom: -40px;
}
.desc-2 {
  position: relative;
  bottom: 24px;
  left: 44px;
  width: 80%;
}
.desc-3 {
  position: relative;
  bottom: 68px;
  left: 8px;
  width: 90%;
  margin-bottom: -40px;
}
.desc-4 {
  width: 49%;
}
.two-space {
  margin-left: calc((1rem - 12px) * 2);
  margin-right: 1rem;
  color: var(--grey);
  vertical-align: bottom;
}
.three-space, .four-space, .five-space, .six-space, .seven-space {
  margin-right: 1rem;
  color: var(--grey);
  vertical-align: bottom;
}

.p-cover{
  background: var(--white);
  border-radius: 12px 12px 6px 12px;
  padding: 16px 10px 16px 0;
  margin-left: 60px;
}
.p2{
  position: relative;
  padding-top: 20px;
  padding-left: 28px;
  text-indent: -1rem;
}
.p3{
  padding-left: 28px;
  text-indent: -0.8rem;
}
.p4{
  padding-left: 65px;
  text-indent: -0.5rem;
}
.p5{
  padding-left: 32px;
  border-top-left-radius: 10px;
  text-indent: -0.8rem;
}
.p6{
  padding-left: 32px;
  text-indent: -0.8rem;
}
.p7{
  padding-left: 32px;
  text-indent: -0.8rem;
}
.aside-1{
  margin: 20px 10px 20px 20px;
}
.left-page-footer .unit-name, .left-page-footer p{
  background-color: var(--light-green-border);
  box-shadow: 0 0 2px 2px var(--footer-green-border-box-shadow);
  border-radius: 2px;
}
footer{
  z-index: 1;
}

@media only screen and (max-width: 576px) {
  .parent-box{
    flex-direction: column;
  }
  .page-left {
    width: 100%;
    min-width: unset; 
  }
  .page-right {
    width: 100%;
    min-width: unset;
    margin-top: 24px;
    border-top: 2px solid var(--bifurcate-white); 
  }
  .container-left {
    margin-left: 0;
    padding-right: 16px;
    padding-left: 16px; 
    border: none;
    border-radius: unset;
  }
  .fig-1{
    float: unset !important;
    margin: auto;
    margin-bottom: 3rem;
  }
  .fig-2{
    float: unset !important;
    margin: auto;
    margin-bottom: 1rem;
  }
  .fig-3{
    float: unset !important;
    /* margin: auto; */
    margin: 1rem auto 3rem;
  }
  .image-2 {
    border-left: 4px solid var(--light-green-border);
    border-radius: 12px;
  }
  .image-3 {
    border-radius: 12px;
    border-right: 4px solid var(--yellow-border);
  }
  .float-left {
    width: 18.75rem;
    max-width: 100%;
  }
  .float-right {
    width: 18.75rem;
    max-width: 100%;
  }
  .content-left-bottom{
    position: unset;
    display: unset;
  }
  .content-right-top {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-row-gap: 0.5rem;
    position: unset;
    margin-left: 64px;
  }
  .content-right-bottom {
    border: none;
  }
  .desc-1{
    position: unset;
    width: 100%;
  }
  .desc-2{
    position: unset;
    width: 100%;
  }
  .desc-3{
    position: unset;
    width: 100%;
  }
  .desc-4{
    width: 300px;
  }
  .container-right {
    margin: 150px 0 0 0;
  }
  .content-right-top {
    margin-left: 0px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .p-cover {
    margin-left: 0px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .p4{
    padding-left: 20px;
  }
  .aside-2 {
    max-width: unset;
    width: fit-content;
  }
  .aside-right-cover{
    grid-template-columns: 1fr;
  }
  
  .glossary-box {
    flex-direction: column;
  }
  .glossary-title {
    width: fit-content;
  }
  .page-footer .page-number {
    width: 70px !important;
  }
  .box-heading {
    height: 2rem;
  }
  .left-dl{
    display: block;
  }
  .abs-pos {
    left: -18px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .parent-box{
    flex-direction: column;
  }
  .page-left {
    width: 100%;
    min-width: unset; 
  }
  .page-right {
    width: 100%;
    min-width: unset;
    margin-top: 24px;
    border-top: 2px solid var(--bifurcate-white); 
  }
  .container-left {
    padding-right: 24px;
    margin-left: 24px; 
  }
  .container-right {
    margin: 180px 24px 0 0;
  }
  .aside-right-cover{
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}
@media only screen and (min-width: 768px) and (max-width: 1152px) {
  .parent-box{
    flex-direction: column;
  }
  .page-left {
    width: 100%;
    min-width: unset; 
  }
  .page-right {
    width: 100%;
    min-width: unset;
    margin-top: 24px;
    border-top: 2px solid var(--bifurcate-white); 
  }
  .container-left {
    margin-left: 24px;
  }
  .container-right {
    margin: 200px 24px 0 0;
  }
  .aside-right-cover{
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
  .background-img-1{
    aspect-ratio: 5 / 2;
  }
}
  