body {
  overflow-y: auto;
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
}

.page18-19 p {
  margin: 0px;
}

.page-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--light-blue);
  flex-grow: 1;
  min-width: 36rem;
  justify-content: space-between;
}

.page-main-content-top,
.page-main-content-left {
  background-color: var(--white);
}
.page-left .parent{
  background-color: var(--white);
}
.page-header {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--white);
}

.main-header {
  margin: 0;
  font-weight: normal;

}

.page-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--light-blue);
  flex-grow: 1;
  min-width: 36rem;
  overflow: hidden;
}

.page-left .bottom-section {
  grid-gap: 0.5rem;
  padding: 8px 16px 8px;
  margin: 0 0;
  word-break: break-word;
  line-height: 1.5;
}

.page-left .bottom-section-content {
  width: 100%;
}


.header-image-cover {
  padding-bottom: 20px;
  margin-right: 96px;
}

.page-banner {
  background: #fee84d;
  clip-path: polygon(100% 0, 97.5% 50%, 0 50%, 0 0);

  width: 100%;
  height: 5rem;
}



.bottom-image {
  transform: scale(calc(100%-(1rem-16px)*2));
  min-width: 9rem;
  width: 25%;
  flex-grow: 1;
}

.img-page19-main {
  width: 100%;

}

.img-page19-main-1 {
  max-width: 100%;
  position: relative;
  left: -10px;
}

.bottom-content {
  background-color: var(--light-blue);
}

.bottom-text {
  display: flex;
  margin-left: 2rem;
  margin-right: 1rem;
}

.img-page18-main {
  width: 100%;
  margin-top: 30px;
  display: block;
}

.discussion-fieldset {
  border: 2px solid var(--pink);
  background-color: var(--white);
  padding: 10px;
  /* position: relative; */
}

.discussion-legend {
  background-color: var(--pink);
  
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 51% 75%, 32% 90%, 38% 75%, 0% 75%);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 84%, 54% 86%, 27% 100%, 38% 85%, 0 85%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 30% 100%, 50% 75%, 0% 75%); */
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  padding: 5px 4px 25px 4px;
  text-align: center;
}
.discussion-legend-div {
filter: drop-shadow(5px 6px var(--shadow-pink));
}
/* .discussion-legend::before, .discussion-legend::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 18%;
  left: 38%;
  margin-left:10px;
}
.discussion-legend::before {
  border-top: 10px solid var(--pink);
  margin-top: 5px;
}
.discussion-legend::after {
  border-top: 10px solid transparent;
  margin-top: -2px;
  z-index: 1;
} */
.discussion-content {
  margin-bottom: 8px !important;
}

.no-margin-image {
  margin: 0;
}

.book-club-content {
  padding: 1rem;
  display: block;
  text-align: center;
  position: relative;
  word-break: break-word;
}

figure {
  margin: 0;
}

.img-page18-main-1 {
  width: 100%;
}

.down-arrow {
  position: relative;
}

.img-page18-topbar {
  width: 7rem;
  position: relative;
  top: -25px;
}

.header-text {
  display: flex;
  align-items: baseline;
}

.header-text h3 {
  margin: 0;
  font-weight: normal;
  color: var(--blue);
  margin-left: 0.7rem;
}

.page-main-content-left {
  position: relative;
}

.bottom-header {
  background-color: var(--blue);
  height: 25px;
}

.bottom-text-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chapter-index {
  background-color: #fee84d;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
  color: var(--black);
  padding: 3rem 0.5rem 0.5rem 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -2.72rem;
  z-index: 1;
}

.image-text {
  display: inline-block;
  padding: 1rem 1.25rem;
  border: 2px solid #3dafa6;
  border-radius: 50%;
  width: 25%;
  /* width: 30%; */
  background-color: var(--white);
  position: absolute;
  top: 230px;
  left: -100px;
  /* top: 200px;
    left: -130px; */
  z-index: 1;
  text-align: center;
  margin-top: calc(0rem + (1rem - 16px)*16);
  margin-left: calc(0rem - (1rem - 16px)*2);
}

.image-text1 {
  display: inline-block;
  padding: 1.5rem;
  border: 2px solid #3dafa6;
  border-radius: 50%;
  width: 38%;
  background-color: var(--white);
  text-align: center;
}

.image-text2 {
  display: inline-block;
  padding: 1.25rem;
  border: 2px solid #3dafa6;
  border-radius: 50%;
  width: 25%;
  background-color: var(--white);
  text-align: center;
}

.chapter-index2 {
  color: var(--black);
  padding: 3rem 3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 1;
}

.questionBox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0 !important;
  position: relative;
}
.questionBox1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0 !important;
  position: relative;
  left: -25px !important;
}

.page-main-content-right .questionBox {
  left: -42px !important;
}

.questionBoxDescriptionIcon {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.questionBoxDescription {
  flex-grow: 1;
  min-width: 8rem;
  width: 70%;
}

.svg-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 8px;
}

.avatar-mouse {
  display: flex;
  flex-direction: column;
  grid-gap: 0.1rem;
}

.avatar-double {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

.selfCenterAlign {
  align-self: center;
}

.mouse-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -4px;
}

.abs-mouse {
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.pencil-people {
  height: 1.25rem;
}

.list-style-none {
  list-style-type: none;
}

.box-content {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
}

.box-content .heading {
  color: var(--dark-blue-1)
}

.box-top-ul {
  padding-left: 2rem;
  ;
  padding-right: 8px;
  margin-top: 4px;
}

.box-top-ul li::marker {
  font-weight: bold;
}

.box-list-serial-num {
  vertical-align: top;
}

.text-box p {
  margin-bottom: 0.5rem;
}

.page-main-content-topar {
  background-color: var(--white);
}

.page-main-content-top {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 16px;
  grid-gap: 1rem;
}

.page-main-content-top .border-text {
  border: 2px solid var(--pink);
  padding: 2px 8px;
  border-radius: 6px;
}

.page-lesson {
  position: absolute;
  max-width: fit-content;
  margin: 0 auto;
  top: unset;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-lesson p {
  margin: 1rem 0;
}

.img-banner {
  height: 2.12rem;
  width: 20%;
}

.reaction-img-container {
  width: 25%;
  min-width: 3.5rem;
  flex-grow: 1;
}

.reaction-img {
  width: 100%;
}

.page-main-content-right {
  flex-grow: 1;
  background-color: var(--mild-blue);
  /* margin: 44px 56px 0px 28px; */
  margin: 44px 40px 10px 50px;
}

.img-container {
  padding: 32px 32px 0;
  display: flex;
  justify-content: center;
}

.page-right-parent {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
  line-height: 1.5;
}

.page-right .bottom-section {
  padding: 20px 0 0px 16px;
  /* width: 105%; */
  word-break: break-word;
  min-width: 20.5rem;
  width: 65%;
  flex-grow: 1;

}

.aside-section {
  min-width: 8.2rem;
  width: 25%;
  flex-grow: 1;


}

.bottom-section-content-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.text-box {
  min-width: 23.5rem;
  width: 65%;
  flex-grow: 1;
}

.text-box-1 {
  min-width: 20.5rem;
  width: 65%;
  flex-grow: 1;

}

.mouseAndContent {
  display: flex;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.w-80 {
  width: 80% !important;
}

.blueGridBox {
  border: 2px solid var(--blue-1);
  border-radius: 16px;
  padding: 8px;
  margin-left: 8px;

}

.list1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 0.2rem 1rem;
  word-break: break-word;
  padding-left: 8px;
}

.fullWidthGridElement {
  grid-column: 1/-1;
}

.aside-box {
  position: relative;
  top: -40px;
  right: -60px;
  width: 100%;
  height: fit-content;
}

.aside-text-box {
  display: inline-block;
  background-color: var(--mild-yellow);
  height: fit-content;
  padding: 8px;
  width: 100%;
  word-break: break-word;

}

.discussion-aside {
  margin-top: 12px;
}

.page-left .discussion-section {
  min-width: 10rem;
  width: 25%;
  flex-grow: 1;
}

.aside-text {
  width: 190px;
}

.page19-aside-content .box-top-ul {
  background-color: var(--white);
  margin: 0px;
  padding: 5px;
}

.text-content {
  display: inline-block;
  background-color: var(--white);
  padding: 1px 6px;
  margin-bottom: 0.5rem !important;
  margin-top: 0;
  text-align: left;
  line-height: 1.2;
}

.highlight {
  background-color: var(--lemon-yellow);
}

.shifted-text {
  margin-left: 32px;
}

.page19-aside-content ul {
  padding: 8px;
}

.page19-aside-content .box-list-content {
  width: 100%
}

.check-in-box {
  border: 13px solid;
  border-image: url(../assets/checkIn_box.png) 36 350;
  border-left-width: 48px;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  margin-top: 1rem;
  min-width: fit-content;
}

.box-heading {
  color: var(--white);
  position: relative;
  background-color: var(--pink);
}

.check-in-box p {
  margin: 8px 0px;
}

.check-in-box li {
  margin: 8px 0px;
}

.check-in-box ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: var(--white);
}

.check-in-box li {
  background-color: var(--white);
}


.round-icon {
  display: flex;
  position: relative;
  left: -28px;
  top: 16px;
  width: 10px;
  height: 10px;
  padding: 5px;
  background: var(--blue-background);
  border-radius: 57%;
  color: var(--white);
  justify-content: center;
  align-items: center;
}

.page-left .round-icon {
  left: -6px !important;
  top: 9px !important;

}

@media only screen and (min-width: 1153px) {
 
}

@media only screen and (max-width: 1152px) {
  .page-right {
    width: 100%;
    min-width: unset;
    margin-top: 24px;
  }

  .page-left {
    width: 100%;
    min-width: unset;
  }

  .parent-container {
    flex-direction: column;
  }

  .list1 {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }

  .bottom-section {
    align-items: center;
    margin-left: 0px;
    grid-gap: 1rem;
  }

  .text-box {
    margin-top: 1rem;
  }

  .img-page18-topbar {
    width: 8.5rem;
  }

  .img-page11-main {
    margin-top: 2rem;
    max-width: 100%;
  }

  .check-in-box {
    margin-top: 0px;
  }

  .img-container {
    padding: 0px;
  }

  .img-page18-main-1 {
    width: 100%;
    left: 61px;
  }

  .image-text1 {
    width: 50%;
  }

  .box-list-content {
    width: 100%;
  }

  .reaction-img {
    left: -20px;
  }

  .chapter-index2 {
    left: 8rem;
  }

  .box-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    width: 100%;
  }

  .round-icon {
    padding: 8px;
  }

  .page-banner {
    width: 100%;
  }

  .avatar-double {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0rem;
  }

  .svg-icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  .mouse-icon {
    width: 2rem;
    height: 2rem;
  }

  .aside-box {
    position: unset;
    width: 12rem;
  }
.questionBox1 {
    left: 2px !important;
  }

  .page-main-content-right .questionBox {
    left: -15px !important;
  }

  .page-main-content-right {
    margin: 25px 15px 0px 28px;
  }

  .img-page19-main {
    position: unset;
  }

  .page-right-parent {
    width: 98%;
  }

  .book-club-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-text {
    width: 30%;
  }

  .abs-mouse {
    top: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .page-lesson {
    position: relative;
    margin: 0;
    padding: 1rem 0 0 2rem;
    justify-content: start;
  }

  .chapter-index {
    top: 2rem;
    left: 0;
    padding: 1rem 1rem 0.5rem;
  }

  .chapter-index2 {
    left: 5.5rem;
  }

  .page-main-content {
    margin-top: -20px;
  }

  .img-banner {
    height: 2.625rem;
  }

  .text-box {
    min-width: unset;
    width: 100%;
  }

  .text-box-1 {
    min-width: unset;
    width: 100%;
    margin-top: 1rem;
  }

  .main-header {
    min-width: unset;
    width: 100%;
  }

  .aside-text-box {
    min-width: unset;
    width: 100%;
  }

  .list1 {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }

  .discussion-aside {
    min-width: unset;
    width: 100%;
  }

  .bottom-image {
    min-width: unset;
    width: 100%;
    transform: scale(0.8);
    position: unset;
  }

  .questionBoxDescriptionIcon {
    display: block;
  }

  .reaction-img-container {
    width: 50%;
    min-width: unset;
  }

  .aside-box {
    top: 0px;
    right: 0px;
    width: 100%;
    ;
  }

  .page-main-content-top {
    flex-direction: column;
    align-items: flex-start;

  }

  .page-main-content-right {
    margin: 25px 15px 10px 15px;
  }

  .bottom-text-top {
    display: block;
  }

  .image-text {
    width: 75%;
    margin: auto;
    position: unset;
  }

  .image-text1,
  .image-text2 {
    width: 75%;
    margin: auto;
  }

  .bottom-text {
    flex-wrap: wrap;
    justify-content: center;
  }

  .bottom-text-book {
    text-align: center;
  }

  .box-content {
    width: 100px;
  }

  .img-page18-topbar {
    width: 32%
  }

  .img-page18-topbar {
    width: 7rem;
    top: -25px;
  }

  .img-page18-main {
    margin-left: -30px;
    width: 30.25rem;
    max-width: 100%;
  }

  .img-page18-main-1 {
    left: 10px;
  }

  .box-list-content {
    width: 100%;
  }

  .reaction-img {
    left: -45px;
  }

  .bottom-section {
    padding-right: 16px;
    flex-direction: column;

  }

  .box-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .page-banner {
    width: auto;
  }

  .img-page19-main-1 {
    height: 200px;
  }

  .avatar-double {
    width: 1.25rem;
    height: 1.25rem;
  }

  .page-right-parent {
    width: 95%;
  }

  .page-right .bottom-section {
    min-width: unset;
    width: 100%;

  }

  .aside-section {
    min-width: unset;
    width: 100%;
    padding: 0 8px;
  }

  .page-left .bottom-section {
    grid-template-columns: 1fr;
  }

  .text-box-empty {
    display: none;
  }

  .book-club-content {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .abs-mouse {
    top: 1.5rem;
  }

  .img-page18-main-1 {
    width: 30.25rem;
    max-width: 100%;
  }

  .img-page19-main {
    width: 25.25rem;
    max-width: 100%;
  }
}